{# doc site.standard.document #}

{{ attach_library('core/htmx') }}

<div class="pds-rides">
  {% if docs is not empty %}
    <table>
      <thead>
        <tr>
          <th>Rkey</th>
          <th>Published</th>
          <th>Title</th>
          <th>Path</th>
          <th colspan=3>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in docs %}
        	{% include "atproto_dashboard:doc-row" with {
        		doc: doc
        	} only  %}        
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No docs found on the PDS.</p>
  {% endif %}
</div>