{#
/**
 *
 */
#}

{{ attach_library('core/htmx') }}
<div class="pds-rides">
  {% if rides is not empty %}
    <table>
      <thead>
        <tr>
          <th>Collection</th>
          <th>Rkey</th>
          <th>Created</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for ride in rides %}
        	{% include "atproto_dashboard:pds-ride-row" with {
        		ride: ride
        	} only  %}        
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No rides found on the PDS.</p>
  {% endif %}
</div>