{# Posts - app.bsky.feed.post #}

{{ attach_library('core/htmx') }}

<div class="pds-rides">
  {% if posts is not empty %}
    <table>
      <thead>
        <tr>
          <th>Rkey</th>
          <th>Created</th>
          <th>Type</th>
          <th>URI or Image ALT</th>
          <th colspan=3>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        	{% include "atproto_dashboard:post-row" with {
        		post: post
        	} only  %}        
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No posts found on the PDS.</p>
  {% endif %}
</div>