{# Posts - app.bsky.feed.post #}

{{ attach_library('core/htmx') }}

<div id="pds-overlay-backdrop" class="pds-overlay-backdrop" style="display:none;">
  <div class="pds-overlay">
    <button class="pds-overlay__close"
      hx-on:click="
        document.getElementById('pds-overlay-backdrop').style.display='none';
        document.getElementById('pds-overlay-content').innerHTML='';
      ">
      &times;
    </button>
    <div id="pds-overlay-content"></div>
  </div>
</div>

<div class="pds-rides">
  {% if posts is not empty %}
    <table>
      <thead>
        <tr>
          <th>Rkey</th>
          <th>Created</th>
          <th>Type</th>
          <th>URI or Image ALT</th>
          <th colspan=3>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        	{% include "atproto_dashboard:post-row" with {
        		post: post
        	} only  %}        
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No posts found on the PDS.</p>
  {% endif %}
</div>